@model dded.db.Linkage.TblOfficer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblOfficer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PinCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level.LevelName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OfficerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
