@model dded.db.Linkage.TblLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mapmenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mapmenu.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
