@model IEnumerable<dded.db.Linkage.TblLog>

@{
    ViewData["Title"] = "Log";
}

    <h1>Log</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mapmenu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mapmenu.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
