@model dded.db.Linkage.TblMainMenu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblMainMenu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuNameTh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuNameTh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuShortNameTh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuShortNameTh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuNameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activeflag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activeflag)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
