@model dded.db.Linkage.TblMapMenu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblMapMenu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainMenu.MenuNameTh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubMenu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubMenu.MenuNameTh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
